<nav class="navbar-expand-md border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/home" routerLinkActive="fw-bold text-white">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/protfolio" routerLinkActive="fw-bold text-white">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" routerLink="/contact" routerLinkActive="fw-bold text-white">Contact</a>
            </li>
        </ul>
    </div>
</nav>
