<div class="row pb-4 justify-content-center">
    <!-- About Me -->
    <div class="col-lg-3 text-center">
        <!-- Profile Picture -->
        <img src="assets/ProfilePic.png" alt="profile picture" width="225" height="225" class="rounded-circle mx-auto mt-3">

        <!-- Social Icons -->
        <div class="mt-4">
            <a class="text-decoration-none mx-2">
                <i routerLink="/contact" routerLinkActive="fw-bold text-white" class="bi bi-envelope-at-fill fs-2 light-blue"></i>
            </a>
            <a href="https://www.linkedin.com/in/babbittalma/" target="_blank" class="text-decoration-none mx-2">
                <i class="bi bi-linkedin fs-2 light-blue"></i>
            </a>
            <a href="https://www.instagram.com/alma__babbitt/" target="_blank" class="text-decoration-none mx-2">
                <i class="bi bi-instagram fs-2 light-blue"></i>
            </a>
            <a href="https://github.com/asbabbit" target="_blank" class="text-decoration-none mx-2">
                <i class="bi bi-github fs-2 light-blue"></i>
            </a>
        </div>
    </div>

    <!-- Intro Section -->
    <div class="col-lg-5 m-1">
        <div>
            <h1>Hello</h1>
            <p style="font-size: 16pt;" class="text-left">

                I’m a recent Computer Engineering graduate from ASU’s Ira A. Fulton Schools of Engineering with a strong focus on hardware design, embedded systems, and computer architecture. My hands-on experience includes building digital systems like ripple carry adders and working with microcontroller-based communication protocols.</p>
            <p style="font-size: 16pt;"class="text-left">At ASU, I led research in the LOGOS Lab on using open-source large language models for Verilog code generation, and served as a teaching assistant for Data Structures and Algorithms, supporting over 100 students.</p>
            <p style="font-size: 16pt;"class="text-left">I'm excited to keep learning and contribute to impactful projects in embedded systems, digital design, and hardware verification.</p>
            <a href="assets/Alma_Babbitt_.pdf" download class="text-decoration-none">
                <i class="bi bi-download"> Download my resume as a PDF</i>
            </a>                
        </div>
    </div>
</div>
