.slide-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 400px;
    object-fit: contain;
    object-position: center;
    margin: 0 auto; /* This helps with horizontal centering */
}

/* Base styling for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  background: transparent;
  border: none;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Create left-facing triangle *//* Right-facing arrow (chevron) */
.triangle-right {
    width: 30px;
    height: 30px;
    border-top: 5px solid white;
    border-right: 5px solid white;
    display: inline-block;
    transform: rotate(45deg);
    position: absolute;
    right: 10px; /* Adjust this value to position closer to the right border */
    top: 50%;
    margin-top: -15px; /* Half the height to center vertically */
  }
  
  /* Left-facing arrow (chevron) */
  .triangle-left {
    width: 30px;
    height: 30px;
    border-top: 5px solid white;
    border-left: 5px solid white;
    display: inline-block;
    transform: rotate(-45deg);
    position: absolute;
    left: 10px; /* Adjust this value to position closer to the left border */
    top: 50%;
    margin-top: -15px; /* Half the height to center vertically */
  }

/* Optional: Hover effect */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.7; /* Slight opacity on hover */
}
